<% layout('layout/boilerplate') %>
<h1>Catalogue</h1>
<div style="width: 40%">
  <ol class="list-group list-group-numbered">
    <% for(let product of catalogue.products) { %>
    <li
      class="list-group-item d-flex justify-content-between align-items-start"
    >
      <div class="ms-2 me-auto">
        <div class="fw-bold"><%=product.name%></div>
        Rs. <%=product.price%>
      </div>
    </li>
    <% } %>
  </ol>

  <h2>Add product to catalogue:</h2>
  <form action="/api/seller/add_product" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" required />
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input
        type="text"
        class="form-control"
        id="price"
        name="price"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
