<% layout('layout/boilerplate') %>
<h1>Orders</h1>
<div style="width: 40%">
  <% for(let order of orders) { %>
  <ol class="list-group list-group-numbered">
    <div
      class="list-group-item d-flex justify-content-between align-items-start"
    >
      <div class="ms-2 me-auto">
        <div class="fw-bold">Ordered by: @<%=order.buyer.username%></div>
      </div>
    </div>
    <% for(let product of order.products) { %>
    <li
      class="list-group-item d-flex justify-content-between align-items-start"
    >
      <div class="ms-2 me-auto"><%=product.name%></div>
    </li>
    <% } %>
  </ol>
  <% } %>
</div>
