<% layout('layout/boilerplate') %>
<h1>Welcome</h1>

<% if(!currentUser) { %>
<a href="/api/auth/register" class="btn btn-primary"> Register </a>
<a href="/api/auth/login" class="btn btn-primary"> Login </a>

<% } else { %>
<h1>You are logged in!</h1>

<% if(userType==="seller") { %>
<h2>Seller</h2>
<% } else { %>
<h2>Buyer</h2>
<% } %>

<a href="/api/auth/logout" class="btn btn-primary"> Logout </a>
<% } %>
